.description{
    margin-left: 10px;
    text-align: left;
    margin: 0 auto;
}

.button_54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 50px;
  margin-bottom: 100px;
}

.button_54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button_54 {
    padding: 0.25em 0.75em;
  }
}

.name{
    margin-left: 10px;
    font-size: 30px;  
    font-weight: 700;
}

.price{
    margin-left: 10px;
    font-size: 20px;  
}

.stock{
    background-color: red;
    margin-left: 10px;
    color: white;
    width: 150px;
    text-align:center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.divContainer{
    text-align: left;
    display: flex;
    
}

.imgContainer{
    width: 60%;
    text-align: left;
}

.textContainer{
    background-color: #eeeeee;
    border-radius: 30px;
    padding: 15px;
    width:40%;
    
}

.img{
    width: 90%;
}