.container{
    width: 50%;
    min-width: 380px;
    margin: 0 auto;
    text-align: left;
}

.singleOrder{
    border: 1px solid grey;
    margin-bottom: 30px;
    box-shadow: 5px 5px 0 black;
}

.title{
    font-weight: 700;
}

.text{
    border-bottom: 1px solid grey;
}

.loading{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.081);
    top: 0;
    left: 0;
}

.loadingImg{
    width: 300px;
    margin-top: 200px
}